<div class="bg-light pb-5">
  <div
    class="banner-innerpage"
    style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
  >
    <div class="container">
      <!-- Row  -->
      <div class="row justify-content-center">
        <!-- Column -->
        <div class="col-lg-9 col-md-6 align-self-center text-center">
          <h1 class="title">BLOGS</h1>
        </div>
        <!-- Column -->
      </div>
    </div>
  </div>
  <!-- Row  -->
  <div class="row justify-content-center">
    <div class="col-md-8 no-trans card card-shadow m-t-40">
      <div style="margin: 70px">
        <div
          class="d-flex align-items-center text-uppercase font-13 font-medium"
        >
          <a routerLink="" class="link">By {{ blogDetail?.blogAuthor }}</a>
          <div class="ml-auto">
            <a routerLink="" class="link">{{ blogDetail?.blogDate }} </a>
          </div>
        </div>
        <h2 class="title font-light">
          {{ blogDetail?.heading }}
        </h2>
        <p class="m-t-30 m-b-30">
          {{ blogDetail?.subHeading }}
        </p>
        <p class="m-t-30 m-b-30">
          {{ blogDetail?.blogDetail }}
        </p>

        <div class="m-t-30">
          <button type="button" class="btn btn-danger-gradiant btn-rounded">
            <i class="fa fa-info-circle mr-2"></i> Read more
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
